@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: aliceblue;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(196, 217, 255);
    border-radius: 12px;
    transition: all 0.3s ease;
}

nav{
    width: auto;
    height: 10vh;
    background-color: rgb(0, 0, 0);
}

.nav_container{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px aliceblue;
}

.hamburg,
.cancel{
    cursor: pointer; 
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    opacity: 0;
    pointer-events: none;
    font-size: clamp 2.5rem, 0.5rem + 5vw, 3rem;
}

.nav_container,
.links{
    display: flex;
}

.nav_container,
.links a{
    position: relative;
    font-size: 1rem;
    color: aliceblue;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav_container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    background: rgb(196, 217, 255);
    transition: 0.2s linear;
}

.nav_container .links a:hover::before{
    width: 100%;
}

.nav_container .links a:hover{
    color: rgb(196, 217, 255);
}

.dropdown{
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness 40%; 
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a{
    display: flex;
    color: rgb(196, 217, 255);
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover{
    background: black;
}

.section.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main{
    position: relative;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 900px;
}

.main
.image img {
    position: absolute;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.2);
}

.main
.content{
    position: absolute;
    top: 240px;
    left: 100px;
    height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 80%;
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.main
.content h2{
    font-size: 1.5rem;
}

.main
.content h1{
    margin-top: -15px;
    font-size: 4rem;
}

.main
.content .typewriter{
    font-size: 3rem;
    color: white;
    margin-top: -15px;
}

.typewriter-text{
    font-weight: bold;
}

.main_links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    color: white;
    border: 0.2rem solid white;
    border-radius: 100%;
    margin: 5px 15px;
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 150px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 120%;
    border-radius: 5%;
    border: 1px solid aliceblue;
    transition: all 0.3s ease;
}

.button:hover {
    color: aliceblue;
    background-color: transparent;
    border: 1px solid aliceblue;
    transform: scale(1.05);
}

h3{
    font-size: 40px;
}
.about{
    margin-top: 40px;
    background-color: white;
}
.about h3{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.about h3 span{
    color: black;
    font-weight: 600; 
    position: relative;
    padding-bottom: 8px;
}

.about h3 span::before, 
.about h3 span::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    left: 0;
    right: 0;
    bottom: 7px;
}

.about h3 span::after{
    bottom: 1px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about_container .profile_pic{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    width: 750px;
    height: 750px;
    min-width: 750px;
    min-height: 750px;
    max-width: 750px;
    max-height: 750px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5% ;
    box-shadow: 5px 5px black;
}
.about_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.about .profile_pic img{
    position: absolute;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

.about .info{
    position: relative;
    background-color: white;
}

.about .info h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.about .info div{
    font-size: 20px;
}

.skills_container{
    display: flex;
    justify-content: center; /* centers them horizontally */
    align-items: flex-start;
    gap: 500px;               /* spacing between the two boxes */
    margin-top: 40px;
    color: black;
    background-color: white;
    font-size: 20px;
}

.fa.fa-star.checked{
    color: aliceblue;
    border: 2px black;
    box-shadow: 0px 5px black;
    padding: 5px;
    border-radius: 100px;
    text-shadow: 0 0 10px rgb(0, 136, 255);
    margin-bottom: 25px;
}

.fa.fa-star-half-alt.checked{
    color: aliceblue;
    border: 2px black;
    box-shadow: 0px 5px black;
    padding: 5px;
    border-radius: 100px;
    text-shadow: 0 0 10px rgb(0, 136, 255);
}

.fa.fa-star{
    color: black;
    border: 2px black;
    box-shadow: 0px 5px black;
    padding: 5px;
    border-radius: 100px;
}

.skills_rating{
    background-color: white;
}

.language_rating{
    background-color: white;
}

.my_works{
    background-color: black;
    gap: 500px;
    margin-top: 40px;
}

.works{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.works span{
    color: aliceblue;
    font-weight: 600; 
    position: relative;
    padding-bottom: 8px;
}

.works span::before, 
.works span::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: aliceblue;
    left: 0;
    right: 0;
    bottom: 7px;
}

.works span::after{
    bottom: 1px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.lunar_container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 2rem;
    color: aliceblue;
    background-color: black;
    position: relative;
    align-items: center;
    height: 600px
}

.lunar_wrapper{
    max-width: 750px;
    max-height: 400px;
    position: relative;
    margin-top: -100px;
}

.lunar_slide{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.lunar_slide img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-width: 100%;
    width: auto;
    height: auto;
}

.lunar_nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.lunar_header{
    margin-top: -120px;
}

.lunar_nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: 75%;
    transition: opacity ease 250ms;
}

.gacha_container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 2rem;
    color: aliceblue;
    background-color: black;
    position: relative;
    align-items: center;
    height: 600px
}

.gacha_wrapper{
    max-width: 750px;
    max-height: 400px;
    position: relative;
    margin-top: -100px;
}

.gacha_slide{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.gacha_slide img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    max-width: 100%;
    width: auto;
    height: auto;
}

.gacha_nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.gacha_header{
    margin-top: -120px;
}

.gacha_nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: 75%;
    transition: opacity ease 250ms;
}

.contact{
    position: relative;
    margin-left: 50px;
    margin-bottom: 5px;
}

.contact h3{
    margin-bottom: 5px;
}

.social_links{
    margin-left: 50px;
}

.social_links a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    color: black;
    border: 0.2rem solid black;
    border-radius: 100%;
    margin: 5px 5px;
    font-size: 1.5rem;
}